<h1>Shopping Cart</h1>

<div class="container">
    <div class="col-md-8">
        <table class="table table-ligth">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#if cart}}
                {{#each cart}}
                <div class="cart-item">
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.total}}</td>
                        <td><button class="remove-btn" data-id="{{this.id}}">Remove</button></td>
                    </tr>
                </div>
                {{/each}}
                {{else}}
                <p>Your cart is empty.</p>
                {{/if}}

            </tbody>
        </table>
    </div>
    <script type="module" src="/cart.js"></script>