<h1>Products management</h1>

<div class="container">
  <div id="app" class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Add Product</h4>
        </div>
        <form id="product-form" class="card-body">
          <div class="form-group mb-3">
            <input type="text" id="name" placeholder="Product Name" class="form-control" required />
          </div>
          <div class="form-group mb-3">
            <input type="text" id="category" placeholder="Product Category" class="form-control" required />
          </div>
          <div class="form-group mb-3">
            <input type="number" id="price" placeholder="Product Price" class="form-control" min="0" step="1"
              required />
          </div>
          <div class="form-group mb-3">
            <input type="number" id="stock" placeholder="Product Stock" class="form-control" min="0" step="1"
              required />
          </div>

          <input type="submit" value="Add Product" class="btn btn-primary w-100 rounded-5" />
        </form>
      </div>
    </div>

    <div class="col-md-8">
      <table class="table table-ligth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.is_active}}</td>
            <td>
              <button data-id="{{this.id}}" class="btn btn-secondary btn-sm btn-edit">Edit</button>
              <button data-id="{{this.id}}" class="btn btn-danger btn-sm btn-delete">Del</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="module" src="/products.js"></script>