<h1>Users</h1>
<div class="container">
  <div id="app" class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Add User</h4>
        </div>
        <form id="user-form" class="card-body">
          <div class="form-group mb-3">
            <input
              type="text"
              id="name"
              placeholder="User Name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="email"
              id="email"
              placeholder="User Email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="text"
              id="role"
              placeholder="User Role"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="number"
              step="0.01"
              id="credit"
              placeholder="Credit Balance"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="text"
              id="password"
              placeholder="User Password"
              class="form-control"
              required
            />
          </div>
          <input
            type="submit"
            value="Add User"
            class="btn btn-primary w-100 rounded-5"
          />
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table table-ligth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Credit</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.role}}</td>
              <td>${{this.credit}}</td>
              <td>{{this.created_at}}</td>
              <td>
                <button
                  data-id="{{this.id}}"
                  class="btn btn-secondary btn-sm btn-edit"
                >Edit</button>
                <button
                  data-id="{{this.id}}"
                  class="btn btn-danger btn-sm btn-delete"
                >Del</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/users.js"></script>